# build system files
gradle-app.setting
.gradle
.cache
build
target
_TMP
tmp
out

# intellij metadata files
classes
.idea
*.iml
*.ipr
*.iws

# eclipse metadata files
.settings
.classpath
.project

# generic files
*~
*.DS_Store
*.swp
*.out
Icon?
Thumbs.db
/bin/
