body {
  background: white;
  color: #333;
}

h1 {
  font: normal 36px Georgia, serif;
  margin: 0 0 30px;
}

a {
  color: #cc0088;
  text-decoration: none;
  outline: none;
  &:hover {
    color: #ff33bb;
  }
}

blockquote {
  margin: 0 0 0 40px;
  p {
    display: inline;
  }
  &:before {
    content: "\" ";
    font-size: 52px;
    font-style: italic;
    color: #ccc;
    vertical-align: -15px;
  }
}
